<!--<mat-tab-group>
  <mat-tab [label]="'Bookkeeper'">-->
    <div class="container">
      <app-encounter-tracker></app-encounter-tracker>
    </div>
<!--
  </mat-tab>
  <mat-tab [label]="'AI-CON'">
    <mat-card style="margin-left: auto; margin-right: auto; width: 500px; margin-top: 100px;">
      <div>
        <h2>AI-CON</h2>
        <div>AI-CON generates actions for Foes during combat.</div>
        <br>
        <div>Actions are decided on a combination of their class, status, player character status, and a <b>threat</b> rating assigned to each Foe.</div>
        <br>
        <div>The actions generated for Foes with high threat ratings will be more efficient and deadly.</div>
        <br>
        <div>The immediate goal of AI-CON is to speed up routine encounters, akin to a 'random battle' you would find in a JRPG.</div>
        <br>
        <div>The long-term goal of AI-CON is to add the option of <b>GM-Less Play</b> to the tactical combat portion of the game.</div>
        <br>
        <div>In conjuction with a GM-Free framework such as Mythic or CRGE, this would hopefully allow a group to embark on a PVE adventure using ICON.</div>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>
-->
