<div *ngFor="let foe of encounterService.foes" class="combatant-panel"
     [ngClass]="{'heavy': foe.statistics.class === 'Heavy', 'artillery' : foe.statistics.class === 'Artillery',
                     'leader': foe.statistics.class === 'Leader', 'skirmisher' : foe.statistics.class === 'Skirmisher',
                     'elite' : foe.statistics.class === 'Elite', 'mob' : foe.statistics.class === 'Mob'}"
>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="height: 50px;">
      <mat-panel-title style="margin-right: 0;" fxLayout="row" fxLayoutAlign=" center">
        <div fxFlex="20">{{foe.statistics.name}}</div>
        <div fxFlex="78" style="background-color: white; color:black; height:100%; border-radius: 8px; padding-left: 8px; padding-right: 8px;" fxLayout="row" fxLayoutAlign=" center">
          <button mat-flat-button class="small-button" style="padding-left: 10px; padding-right: 10px;">
            <div fxLayout="row" fxLayoutAlign=" center">
              <mat-icon style="color: red;">favorite</mat-icon>
              <div>{{foe.hpCurrent}}</div>
            </div>
          </button>
          <button mat-flat-button class="small-button" style="padding-right: 20px;">
            <div fxLayout="row" fxLayoutAlign=" center">
              <mat-icon style="color: dodgerblue;">shield_moon</mat-icon>
              <div><b>{{foe.vigor}}</b></div>
            </div>
          </button>
          <div fxLayout="row" fxLayoutAlign=" center">
            <button (click)="$event.stopPropagation()" *ngIf="foe.positiveStatuses.counter" mat-button matTooltipClass="tooltip" matTooltip="Counter - Deal fray damage to your attacker after being attacked. Hit or miss." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Counter.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.positiveStatuses.defiance" mat-button matTooltipClass="tooltip" matTooltip="Defiance - Prevents hit points from being reduced past 1 HP. Remove when triggered." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Defiance.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.positiveStatuses.regenerationX" mat-button matTooltipClass="tooltip" matTooltip="Regeneration 1 - Gain Vigor 1 at the end of your turn." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Blessing.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.positiveStatuses.stealth" mat-button matTooltipClass="tooltip" matTooltip="Stealth - Cannot be directly targeted except from an adjacent space. Breaks on taking or dealing damage." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Stealth.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.positiveStatuses.sturdy" mat-button matTooltipClass="tooltip" matTooltip="Sturdy - Immune to shove, daze, stagger and stun." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Sturdy.png" alt=""></button>

            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.blinded" mat-button matTooltipClass="tooltip" matTooltip="Blind - Can only target adjacent spaces." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Blinded.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.dazed" mat-button matTooltipClass="tooltip" matTooltip="Dazed - +1 curse on attacks." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Dazed.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.pacified" mat-button matTooltipClass="tooltip" matTooltip="Pacified - Max damage reduced to 1. Breaks on taking damage from an ability or action." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Pacified.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.staggered" mat-button matTooltipClass="tooltip" matTooltip="Staggered - Attackers gain +1 Boon." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Staggered.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.stunned" mat-button matTooltipClass="tooltip" matTooltip="Stunned - Take 1 less action. Automatically clear at end of turn." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Stunned.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.slow" mat-button matTooltipClass="tooltip" matTooltip="Slow - Must take slow turns" class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Slow.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.statuses.vulnerable" mat-button matTooltipClass="tooltip" matTooltip="Vulnerable - +1 on all damage taken." class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Vulnerable.png" alt=""></button>

            <button (click)="$event.stopPropagation()" *ngIf="foe.blights.burning" mat-button matTooltipClass="tooltip" matTooltip="Burning" class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Burning.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.blights.electrified" mat-button matTooltipClass="tooltip" matTooltip="Electrified" class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Electrified.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.blights.frostbitten" mat-button matTooltipClass="tooltip" matTooltip="Frostbite" class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Frostbite.png" alt=""></button>
            <button (click)="$event.stopPropagation()" *ngIf="foe.blights.poisoned" mat-button matTooltipClass="tooltip" matTooltip="Poisoned" class="small-button no-zoom"><img class="small-icon" src="assets/icons/status/Poisoned.png" alt=""></button>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab [label]="'Stat Block'">
        <br>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutAlign=" center"><div class="pink-text">Damage</div><div>D{{foe.statistics.damageDie}}</div></div>
          <div fxLayout="column" fxLayoutAlign=" center"><div class="pink-text">Fray</div><div>{{foe.statistics.frayDamage}}</div></div>
          <div fxLayout="column" fxLayoutAlign=" center"><div class="pink-text">Health</div><div>{{foe.statistics.vitality}}</div></div>
          <div fxLayout="column" fxLayoutAlign=" center"><div class="pink-text">Defense</div><div>{{foe.statistics.defense}}</div></div>
          <div fxLayout="column" fxLayoutAlign=" center"><div class="pink-text">Speed</div><div>{{foe.statistics.speed}} {{foe.statistics.speed * foe.statistics.dashMultiplier}}</div></div>

        </div>
        <br>
        <div fxLayout="row wrap" fxLayoutGap="20px grid" style="width: 100%;">
          <div fxFlex="100">
            <div class="pink-text">TRAITS</div>
            <div fxLayout="column" fxLayoutGap="20px grid">
              <ng-container *ngFor="let trait of foe.statistics.actualTraits">
                <span *ngIf="trait.description"><b>{{trait.name}}:</b> {{trait.description}}</span>
              </ng-container>
            </div>
          </div>
          <div fxFlex="100">
            <div class="pink-text">ACTIONS</div>
            <div fxLayout="column" fxLayoutGap="20px grid">
              <ng-container *ngFor="let action of foe.statistics.getActions()">
                <div [ngClass]="{'cursor-pointer': isRecharge(action), 'recharging': foe.isRecharging(action)}" (click)="toggleRecharge(action, foe)">
                  <b class="trait-tag">{{action.name}} ({{action.actionCost}} {{action.actionCost > 1 ? 'actions' : 'action'}}
                    {{action.tags ? ',' : ''}} {{action.tags ? action.tags.join(", ") : ' '}}): </b> {{action.description}}
                  <span *ngIf="action.hit"><i>On hit: </i>{{action.hit}} </span>
                  <span *ngIf="action.miss"><i>On miss: </i>{{action.miss}} </span>
                  <span *ngFor="let effect of action.effects">{{action.effects}} </span>
                  <span *ngIf="action.collide"><b>Collide: </b>{{action.collide}} </span>
                  <span *ngIf="action.areaEffect"><b>Area effect: </b>{{action.areaEffect}}</span>
                  <span *ngIf="action.blightBoost"><b>Blightboost: </b>{{action.blightBoost}}</span>
                </div>
              </ng-container>
              <ng-container *ngFor="let action of foe.statistics.interrupts">
                <div [ngClass]="{'cursor-pointer': isRecharge(action), 'recharging': foe.isRecharging(action)}" (click)="toggleRecharge(action, foe)">
                  <b class="trait-tag">{{action.name}} (Interrupt{{action.count ? ' ' : ''}}{{action.count ? action.count : ''}}{{action.tags ? ', ' : ''}}{{action.tags ? action.tags.join(", ") : ''}}): </b> {{action.description}}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'HP & Status'">
        <div>
          <h2 class="pink-text">Hit Points & Vigor</h2>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="80">
              <div fxLayout="row" fxLayoutAlign=" center" fxFlex="50">
                <button mat-icon-button><mat-icon style="color: red;">favorite</mat-icon></button>
                <mat-slider (input)="onHealthChange($event, foe)" style="width: 100%;"
                            [disabled]="false"
                            [invert]="false"
                            [max]="50"
                            [min]="0"
                            [step]="1"
                            [thumbLabel]="true"
                            [tickInterval]="1"
                            [(ngModel)]="foe.hpCurrent"
                            [vertical]="false"
                >
                </mat-slider>
              </div>
              <div fxLayout="row" fxLayoutAlign=" center" fxFlex="50">
                <button mat-icon-button><mat-icon style="color: dodgerblue;">shield_moon</mat-icon></button>
                <mat-slider (input)="onVigorChange($event, foe)" style="width: 100%;"
                            [disabled]="false"
                            [invert]="false"
                            [max]="50"
                            [min]="0"
                            [step]="1"
                            [thumbLabel]="true"
                            [tickInterval]="1"
                            [(ngModel)]="foe.vigor"
                            [vertical]="false"
                >
                </mat-slider>
              </div>
            </div>
            <button *ngIf="!foeToDelete" mat-icon-button><mat-icon style="color: red;" (click)="delete(foe)">delete</mat-icon></button>
            <button *ngIf="foeToDelete === foe" mat-icon-button><mat-icon style="color: red;" (click)="delete(foe)">delete_forever</mat-icon></button>
          </div>
        </div>
        <div>
          <h2 class="pink-text">Blights</h2>
          <br>
          <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="30px grid">
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.blights.burning, 'inactive-status': !foe.blights.burning}" (click)="toggleBlight(BlightEnum.Burning, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Burning.png">
                  <div>Burning</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.blights.electrified, 'inactive-status': !foe.blights.electrified}" (click)="toggleBlight(BlightEnum.Electrified, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Electrified.png">
                  <div>Electrified</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.blights.frostbitten, 'inactive-status': !foe.blights.frostbitten}" (click)="toggleBlight(BlightEnum.Frostbite, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Frostbite.png">
                  <div>Frostbite</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.blights.poisoned, 'inactive-status': !foe.blights.poisoned}" (click)="toggleBlight(BlightEnum.Poisoned, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Poisoned.png">
                  <div>Poisoned</div>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div>
          <h2 class="pink-text">Status</h2>
          <br>
          <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="30px grid">
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.blinded, 'inactive-status': !foe.statuses.blinded}" (click)="toggleStatus(StatusTypeEnum.Blind, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Blinded.png">
                  <div>Blinded</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.dazed, 'inactive-status': !foe.statuses.dazed}" (click)="toggleStatus(StatusTypeEnum.Dazed, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Dazed.png">
                  <div>Dazed</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.pacified, 'inactive-status': !foe.statuses.pacified}" (click)="toggleStatus(StatusTypeEnum.Pacified, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Pacified.png">
                  <div>Pacified</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.slow, 'inactive-status': !foe.statuses.slow}" (click)="toggleStatus(StatusTypeEnum.Slow, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Slow.png">
                  <div>Slow</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.staggered, 'inactive-status': !foe.statuses.staggered}" (click)="toggleStatus(StatusTypeEnum.Staggered, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Staggered.png">
                  <div>Staggered</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.stunned, 'inactive-status': !foe.statuses.stunned}" (click)="toggleStatus(StatusTypeEnum.Stunned, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Stunned.png">
                  <div>Stunned</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.statuses.vulnerable, 'inactive-status': !foe.statuses.vulnerable}" (click)="toggleStatus(StatusTypeEnum.Vulnerable, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Vulnerable.png">
                  <div>Vulnerable</div>
                </div>
              </button>
            </div>
          </div>

        </div>
        <div>
          <h2 class="pink-text">Positive Effects</h2>
          <br>
          <div fxLayout="row wrap" fxLayoutAlign=" center" fxLayoutGap="30px grid">
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.positiveStatuses.counter, 'inactive-status': !foe.positiveStatuses.counter}" (click)="togglePositiveEffect(PositiveEffectEnum.Counter, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Counter.png">
                  <div>Counter</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.positiveStatuses.defiance, 'inactive-status': !foe.positiveStatuses.defiance}" (click)="togglePositiveEffect(PositiveEffectEnum.Defiance, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Defiance.png">
                  <div>Defiance</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.positiveStatuses.regenerationX, 'inactive-status': !foe.positiveStatuses.regenerationX}" (click)="togglePositiveEffect(PositiveEffectEnum.RegenerationX, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Blessing.png">
                  <div>Regeneration 1</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.positiveStatuses.stealth, 'inactive-status': !foe.positiveStatuses.stealth}" (click)="togglePositiveEffect(PositiveEffectEnum.Stealth, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Stealth.png">
                  <div>Stealth</div>
                </div>
              </button>
            </div>
            <div fxFlex="25">
              <button mat-flat-button [ngClass]="{'active-status': foe.positiveStatuses.sturdy, 'inactive-status': !foe.positiveStatuses.sturdy}" (click)="togglePositiveEffect(PositiveEffectEnum.Sturdy, foe)">
                <div  fxLayout="row" fxLayoutAlign=" center">
                  <img src="assets/icons/status/Sturdy.png">
                  <div>Sturdy</div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
  <br>
</div>
