.combatant-panel {
  &.heavy {
    .mat-expansion-panel-header {
      background-color: red !important;
      color: white !important;
    }
  }

  &.artillery {
    .mat-expansion-panel-header {
      background-color: cornflowerblue !important;
      color: white !important;
    }
  }

  &.leader {
    .mat-expansion-panel-header {
      background-color: green !important;
      color: white !important;
    }
  }

  &.skirmisher {
    .mat-expansion-panel-header {
      background-color: darkorange !important;
      color: white !important;
    }
  }

  &.elite {
    .mat-expansion-panel-header {
      background-color: purple !important;
      color: white !important;
    }
  }

  &.mob {
    .mat-expansion-panel-header {
      background-color: darkgray !important;
      color: white !important;
    }
  }

  .mat-panel-title {
    color: white !important;
  }

  .mat-expansion-panel-header-title {
    color: white !important;
  }

  ::ng-deep .mat-expansion-panel-header-description > .mat-expansion-indicator:after {
    color: white !important;
  }

  ::ng-deep .mat-content {
    height: 90%;
  }

  ::ng-deep .mat-tab-body-wrapper {
    overflow: visible;
  }

  ::ng-deep .mat-tab-body {
    overflow: visible;
  }

  ::ng-deep .mat-tab-body-content {
    overflow: visible;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.recharging {
  opacity: 0.7;
  color: darkred;

  .trait-tag {
    background-color: darkred;
    color: white;
  }
}

.inactive-status {
  img {
    width: 32px;
    height: 32px;
    padding-right: 5px;
    opacity: 0.2;
  }
}

.active-status {
  img {
    width: 32px;
    height: 32px;
    padding-right: 5px;
    opacity: 1;
  }
}

.small-button {
  padding: 0;
  min-width: 26px;
}

.small-icon {
    width: 26px;
    height: 26px;
}
